//@import "./src/styles/global-vars";

@use "./src/styles/global-vars" as var;

.layout {
  .mainLayoutContainer {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
    width: 100%;
  }

  .backToHome {
    padding: 1rem;
  }
}

