@import "./src/styles/global-vars";

// classes from html can be overridden here / global classes can be edited

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

//main {
//  margin: 0 auto 0 0;
//}

// Section Class
.section {
  display: flex;
  padding: 6rem 1.5rem;
  @include tablet {
    padding: 6rem clamp(6rem, 8.333333%, 8.333333%);
  }
  @include desktop {
    padding: 6rem clamp(8rem, 8.333333%, 8.333333%);
  }
}

// main container for text-elements
.text-container {
  display: flex;
  flex-direction: column;
  padding: 4rem 4rem 0 4rem;
  @include tablet {
    padding: 3rem 3rem 0 3rem;
  }
  @include mobile {
    padding: 2rem 2rem 0 2rem;
  }
}

// main container for non-text-elements
.non-text-container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  justify-content: center;
  @include tablet {
    padding: 2rem;
  }
  @include mobile {
    padding: 1rem;
  }
}